h2, p {
    position: absolute;
}

/* #sec1 {
    padding-bottom: 56.25%;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
} */
 #sec1 {
    height: 50vw;
 }
#fireworks1 {
    width: 45vw;
    top: -10vw;
    opacity: 0;
    transition: 1s ease;
}

#sec2 {
    height: 55vw;
    transition: 2s ease;
}
#sec2:hover {
    background: #222;
}
#sec2 .img {
    position: absolute;
    background: rgb(140, 122, 91);
    width: 60vw;
    height: 35vw;
    overflow: hidden;
}
#sec2 .paper {
    mix-blend-mode: overlay;
}
#sec2 .imgs {
    width: 35vw;
    box-shadow: 2px 2px 3px 3px #715d3c;
}
#sec2 p {
    font-size: 1vw;
    text-align: center;
    font-family: "Nanum Brush Script", cursive;
}
#sec2 .memo1 {
    opacity: .8;
}
#sec2 .img:nth-child(1) .imgs {
    width: 60vw;
}
#sec2 .img:nth-child(1) .memo1 {
    width: 14vw;
    top: 3vw;
    left: 3vw;
    transform: rotate(-10deg);
}
#sec2 .img:nth-child(1) p {
    top: 9vw;
    left: 5vw;
    transform: rotate(-10deg);
}
#sec2 .img:nth-child(2) .imgs {
    width: 60vw;
}
#sec2 .img:nth-child(2) .memo1 {
    width: 15vw;
}
#sec2 .img:nth-child(2) p {
    top: 6vw;
    left: 2vw;
}
#sec2 .img:nth-child(3) .imgs {
    width: 60vw;
    top: -9vw;
}
#sec2 .img:nth-child(3) .memo1 {
    width: 15vw;
    left: 42vw;
    top: 10vw;
    transform: rotate(8deg);
}
#sec2 .img:nth-child(3) p {
    left: 45vw;
    top: 16vw;
    transform: rotate(8deg);
}
#sec2 .img:nth-child(2) {
    display: none;
}
#sec2 .img:nth-child(3) {
    display: none;
}


#sec2 .button_container {
    position: absolute;
    top: 47vw;
    left: 45vw;
}
#sec2 .photo_btn {
    position: absolute;
    width: 2vw;
    height: 2vw;
    font-size: 0.8vw;
    border-radius: 50%;
    border: none;
    background: rgb(139, 179, 165);
    color: #fff;
    transition: .5s ease;
}
#sec2 .photo_btn:hover {
    background: rgb(95, 135, 121);
    color: #fff;
}
#sec2 .photo_btn:nth-child(1) {
    left: 0;
}
#sec2 .photo_btn:nth-child(2) {
    left: 3vw;
}
#sec2 .photo_btn:nth-child(3) {
    left: 6vw;
}







#sec3 {
    height: 105vw;
}
#sec3 .poster {
    position: absolute;
    width: 60vw;
    height: 93vw;
    background: #b3a6a6;
    top: 0vw;
    overflow: hidden;
}
#sec3 .poster .paper {
    mix-blend-mode: overlay;
    top: 10vw;
}
#sec3 .poster .img1 {
    top: -5vw;
}
#sec3 .poster .img2 {
    width: 14vw;
    left: 40vw;
    mix-blend-mode: screen;
}
#sec3 .poster .img3 {
    width: 20vw;
    top: 25vw;
}
#sec3 .poster .img4 {
    width: 12vw;
    top: 6vw;
    left: 45vw;
}
#sec3 .poster .img5 {
    top: 45vw;
}
#sec3 .poster .img6 {
    width: 20vw;
    top: 65vw;
    left: 40vw;
}
#sec3 .poster .flower1 {
    width: 11vw;
    top: 46vw;
    transform: rotate(-20deg);
}
#sec3 .poster [class*="img"] {
    transition: 1s ease;
}
#sec3 .poster [class*="img"]:hover {
    transform: scale(1.2);
}



#sec4 {
    height: 55vw;
    margin-bottom: 0;
    justify-content: center;
    transition: 1s ease;
}
#sec4:hover {
    background: #222;
}
#sec4 .row {
    width: 58vw;
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    justify-content: center;
    overflow: scroll;
    overflow: auto;
    white-space: nowrap;
}
#sec4 .row::-webkit-scrollbar-track {
    background: #666666; 
    border-radius: 10px;
}

#sec4 .row::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

#sec4 .row::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

#sec4 .row {
    scrollbar-width: thin;
    scrollbar-color: #888888 #444444;
}

[class*="video"] {
    width: 50vw;
}
#sec4 .video1 {
    margin-left: 94vw;
}